<!--suppress AngularNgOptimizedImage -->
<router-outlet />
<footer>
  <div class="social">
    <img src="/Buttons/youtube_normal.png" alt="Youtube">

    <img src="/Buttons/facebook_normal.png" alt="Facebook">

    <img src="/Buttons/spotify_normal.png" alt="Spotify">

    <img src="/Buttons/instagram_normal.png" alt="Instagram">
  </div>

  <nav>
    <div class="nav">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <img src="/Buttons/home_normal.png" alt="Home">
      </a>

      <a routerLink="/media" routerLinkActive="active">
        <img src="/Buttons/media_normal.png" alt="Media">
      </a>

      <a routerLink="/live" routerLinkActive="active">
        <img src="/Buttons/live_normal.png" alt="Live">
      </a>

      <a routerLink="/merch" routerLinkActive="active">
        <img src="/Buttons/merch_normal.png" alt="Merch">
      </a>

      <a routerLink="/press" routerLinkActive="active">
        <img src="/Buttons/press_normal.png" alt="Press">
      </a>

      <a routerLink="/contact" routerLinkActive="active">
        <img src="/Buttons/contact_normal.png" alt="Contact">
      </a>
    </div>
  </nav>

</footer>
