<!--suppress AngularNgOptimizedImage -->
<router-outlet />
<footer>
  <div class="social">
    <img src="/Buttons/youtube_normal.png" alt="Youtube">

    <img src="/Buttons/facebook_normal.png" alt="Facebook">

    <img src="/Buttons/spotify_normal.png" alt="Spotify">

    <img src="/Buttons/instagram_normal.png" alt="Instagram">
  </div>

<nav>
  <div class="nav">

    <a href="/home"><img src="/Buttons/home_normal.png" alt="Home"></a>

    <a href="/media"><img src="/Buttons/media_normal.png" alt=""></a>

    <a href="/live"><img src="/Buttons/live_normal.png" alt=""></a>

    <a href="/merch"><img src="/Buttons/merch_normal.png" alt=""></a>

    <a href="/press"><img src="/Buttons/press_normal.png" alt=""></a>

    <a href="/contact"><img src="/Buttons/contact_normal.png" alt=""></a>
  </div>
</nav>
</footer>
