footer {
  position: absolute;
  bottom: 3%;
  width: 100%;
}

.social, .nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social img{
  height: 45px;
  padding: 5px 10px;
}

.nav img{
  max-height: 45px;
  padding: 10px 23px;
}

.nav a.active img {
  filter: brightness(0) saturate(100%) invert(88%) sepia(18%) saturate(400%) hue-rotate(10deg);
}


