@import "tailwindcss";

html, body {
  color: yellow;
  text-align: center;
  align-content: center;
  height: 100%;
  margin: 0;
}

#bg-container {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.bg-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.bg-home {
background-image: url("/bg-home.jpg");
  background-size: cover;
}

.bg-default {
  background-image: url("/bg-default.jpg");
  background-size: cover;
}
